<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>개설강좌확인</title>
	
	<style>
		a {
			text-decoration: none;
		}
		ul {
			text-align: left;
		}
		ul > li {
			display: inline-block;
		}
		a.current {
			color: red;
			font-weight: bold;
		}
	</style>
</head>

<body>
		<h3 th:text="${_FOUND_PAGE_.content[0].professor.name} + ' 교수님이 개설한 강의'" ></h3>
		<hr>
		
	<div>
		<table th:border="1">
				<tr>
					<th>강의명</th>
					<th>강의일</th>
					<th>강의시간</th>
					<th>강의교수</th>
				</tr>
				
				<tr th:each="lecture, stat : ${_FOUND_PAGE_}">
					<td th:text="${lecture.lectureName}"></td>
			        <td th:text="${lecture.lectureDay}"></td>
			        <td th:text="${lecture.lectureTime}"></td>
			        <td th:text="${lecture.professor.name}"></td>
				</tr>
		</table>
		
		<ul>
			<li th:if="${!_PAGINATION_.first}">
				<a th:href="@{ /professor/checkOpenLecture( currPage=1 ) }">F</a>
			</li>
	
			<li th:if="${_PAGINATION_.prev}">
				<a th:href="@{ /professor/checkOpenLecture( currPage=${_PAGINATION_.currPage - 1} ) }">P</a>
			</li>
			
			<li th:each="pageNumber : ${ #numbers.sequence(_PAGINATION_.startPage, _PAGINATION_.endPage) }">
				<span th:if="${_PAGINATION_.currPage == pageNumber}">
					<a th:class="current" th:href="@{/professor/checkOpenLecture(currPage=${pageNumber})}">
						[[ ${pageNumber} ]]
					</a>
				</span>
				<span th:unless="${_PAGINATION_.currPage == pageNumber}">
					<a th:href="@{ /professor/checkOpenLecture( currPage=${pageNumber} ) }">
						[[ ${pageNumber} ]]
					</a>
				</span>
			</li>
			
			<li th:if="${_PAGINATION_.next}">
				<a th:href="@{ /professor/checkOpenLecture( currPage=${_PAGINATION_.currPage + 1} ) }">N</a>
			</li>
				
			<li th:if="${!_PAGINATION_.last}">
				<a th:href="@{ /professor/checkOpenLecture( currPage=${_PAGINATION_.totalPages} ) }">L</a>
			</li>
		</ul>
		
	</div>
</body>

</html>