<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>공지수정</title>
	
	<script>
    function encodeFormData() {
        const titleInput = document.querySelector('input[name="title"]');
        const contentInput = document.querySelector('textarea[name="content"]');

        // UTF-8 인코딩
        titleInput.value = encodeURIComponent(titleInput.value);
        contentInput.value = encodeURIComponent(contentInput.value);

        return true; // 폼을 정상적으로 제출하기 위해 true를 반환
    }
	</script>
	
</head>
<body>
	<h3>/professor/updateBoardView.html</h3>
	<hr>
	
	<div>
		<h3>공지수정</h3>

		<form th:action="@{ /professor/updateBoard }" th:method="Post" onsubmit="return encodeFormData()" accept-charset="UTF-8">		
			<input th:type="hidden" th:name="currPage" th:value="${param.currPage == ''? 1 : param.currPage}">
			
			<table th:border="1">
				<tr>
					<th>글번호</th>
					<td><input type="text" th:name="id" th:value="${_BOARD_.id}" readonly></td>
				</tr>
			
				<tr>
					<th>제목</th>
					<td><input th:type="text" th:name="title" th:value="${_BOARD_.title}" required></td>
				</tr>
				
				<tr>
					<th>작성자</th>
					<td><input type="text" th:name="writer" th:value="${_BOARD_.professor.name}" readonly></td>
				</tr>
				
				<tr>
					<th>내용</th>
					<td><textarea th:name="content" th:rows="15" th:cols="80" th:text="${_BOARD_.content}" required></textarea></td>
				</tr>
				
				<tr>
					<th>조회수</th>
					<td><input type="text" th:name="cnt" th:value="${_BOARD_.cnt}" readonly></td>
				</tr>
				
				<tr>
					<td th:colspan="2">
						<input th:type="submit" th:value="수정하기">
						<a th:href="@{ /auth/getBoardList( currPage=${param.currPage} ) }">목록으로가기</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
</body>
</html>


